
#red-ui-header span.red-ui-header-logo img {
    height: 35px;
}

#red-ui-header {
    background-color: #6946c6;
}

#red-ui-header #red-ui-header-button-deploy.disabled {
    background-color: #6846c65b;
    color: #ffffff;
}

#red-ui-header .red-ui-deploy-button {
    background-color: #6946c6;
    color: #ffffff;
    border-radius: 5px;
}

#red-ui-header .button {
    color: #ffffff;
    border-radius: 5px;
}

#red-ui-header .button {
    border-left: 2px solid #6846c6;
    border-right: 2px solid #6846c6;
}

#red-ui-header ul.red-ui-menu-dropdown li a {
    color: #ffffff !important;
}

#red-ui-header .red-ui-menu-dropdown-submenu>a:before {
    border-right-color: #ffffff;
}

#red-ui-header ul.red-ui-menu-dropdown>li:hover>a {
    background: #c4c9e0ad !important;
    font-weight: bold !important;
}

#red-ui-header ul.red-ui-menu-dropdown {
    background-color: #6846c6dd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#red-ui-header .button:active {
    background-color: #e2e2e2;
}

#red-ui-header .red-ui-deploy-button:hover, #red-ui-header .red-ui-deploy-button:active {
    background-color: #158993;
}

#red-ui-header-button-deploy-icon {
    display: none;
}